@model IEnumerable<Chatter.Models.Like>

@{
    ViewBag.Title = "Index";
}

<!--Navbar-->
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
    <!-- top nav -->
    <nav class="navbar navbar-top hidden-xs">
        <div class="container">
            <!-- left nav top -->
            <ul class="nav navbar-nav pull-left" style="color:black">
                <li><a href="#"><span class="glyphicon glyphicon-thumbs-up text-white"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe text-white"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
                <li><a href="#"><span class="text-white">QUESTIONS? CALL: <b>+216.409.8812</b></span></a></li>
            </ul>
            <!-- right nav top -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="https://localhost:44364/Account/Login">Login</a></li>
                <li><a href="https://localhost:44364/Account/Register">Register</a></li>
                <li><a href="https://localhost:44364/Chats/Index">Chats</a></li>
                <li><a href="https://localhost:44364/Account/Login">Users</a></li>
                <li><a href="https://localhost:44364/Account/Register">Register</a></li>
                <li><a href="https://localhost:44364/Chats/Index">Chats</a></li>
                <li><a href="https://localhost:44364/Home/About" class="text-white">About Us</a></li>
                <li><a href="https://localhost:44364/Home/Contact" class="text-white">Contact Us</a></li>
            </ul>
        </div>
        <div class="dividline light-grey"></div>
    </nav>
    <!-- down nav -->
    @*<nav class="navbar navbar-down">
        <div class="container">
            <div class="flex-container">
                <div class="navbar-header flex-item">*@
    @*<div class="navbar-brand" href="#">Chatter</div>*@
    @*</div>
        <ul class="nav navbar-nav flex-item hidden-xs">
            <li><a href="https://localhost:44364/Account/Login">Login</a></li>
            <li><a href="https://localhost:44364/Account/Register">Register</a></li>
            <li><a href="https://localhost:44364/Chats/Index">Chats</a></li>
            <li><a href="https://localhost:44364/Account/Login">Users</a></li>
            <li><a href="https://localhost:44364/Account/Register">Register</a></li>
            <li><a href="https://localhost:44364/Chats/Index">Chats</a></li>
        </ul>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">*@
    @*<li><a href="#" class="">offer!</a></li>*@
    @*</ul>*@
    <!-- dropdown only moblie -->
    @*<div class="dropdown visible-xs pull-right">
            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://localhost:44364/Account/Login">Login</a></li>
                <li><a href="https://localhost:44364/Account/Register">Register </a></li>
                <li><a href="https://localhost:44364/Chats/Index">Chats</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://localhost:44364/Home/Contact">contact us</a></li>
            </ul>
        </div>*@
    @*</div>
            </div>
        </nav>*@
</nav>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Like1.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Like2.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chat.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Like1.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Like2.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chat.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LikeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LikeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LikeID })
        </td>
    </tr>
}

</table>
